<head>
  <title>myapp</title>
</head>


<template name="mainLayout">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
        	<ul id="nav-mobile" class="right hide-on-med-and-down">
        		<li><a href="{{ pathFor route ='accueil' }}">Accueil</a></li>
        		<li><a href="{{ pathFor route ='posts' }}">Posts</a></li>
                <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right"></i></a></li>
                {{#if currentUser}}
                    <li><a class="logout">Se déconnecter</a></li>
                {{else}}
                    <li><a href="{{pathFor route='login'}}">Se connecter</a></li>
                {{/if}}
                <!-- <li>
                    {{> loginButtons}}
                </li> -->
        	</ul>
        </div>
    </nav>
    <div class="container">
        {{> yield}}
    </div>
</template>
